
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
h3, .h3 {
    font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#question-gate.row{
  padding-left:20px;
}
#history-gate.row{
  padding-left:20px;
  padding-right:20px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.panel-default {
    border-color: #d3e0e9;
}
.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #fff;
  border-color: #d3e0e9;
}

form#questions{
	width:97%;
}




@media (min-width: 992px){
	.col-md-offset-2 {
	    margin-left: 16.66666667%;
	}
}
@media (min-width: 992px){
	.col-md-8 {
	    width: 66.66666667%;
	}
}